DB_URL=jdbc:postgresql://localhost:5432/finguard
DB_USERNAME=postgres
DB_PASSWORD=your_password
JWT_SECRET=replace_with_a_32_character_secret
FRONTEND_URL=http://localhost:5173
DEMO_SEED=false
DEMO_PASSWORD=change-this-demo-password
DEMO_ACCOUNTS_ENABLED=true
DEMO_ADMIN_EMAIL=2315049@nec.edu.in
DEMO_ADMIN_PASSWORD=Ganesh@123
DEMO_ANALYST_EMAIL=ganeshbavana26@gmail.com
DEMO_ANALYST_PASSWORD=Ganesh@23
